
<%- include("header.ejs") %>
  <div class="heroes">
    <div class="overlay">
        <h1>Dj with the magic fingers...</h1>
    </div>
  </div>
  <div class="container">

    <section>

     <h1>The Magic Fingers! </h1>
   
     <p>
       Welcome to DJ Romeo the Magic Fingers' official website! I've been in the game for over ten years, bringing enjoyment and excitement to social gatherings and parties.
     </p>
    </section>
   

    <div class="first">
      <div class="text">
        <div class="change"><img src="img/romeo_4.jpg" alt="rome" />

        </div>
        
        <div class="text">
          <h1>Welcome!</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero voluptates libero, debitis veniam mollitia molestias obcaecati sapiente ratione cumque. Quis similique, voluptates, suscipit unde sed impedit laborum distinctio totam cum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ipsam reprehenderit accusamus reiciendis consectetur, cumque libero tempora ipsa consequuntur eaque maxime assumenda nemo sequi aperiam! Consequatur necessitatibus facilis, dignissimos cum.
          </p>

        </div>
        
        </div>

      </div>

      <div class="services">
        <h1 class="service">Past <span class="serve">Shows</span></h1>
        <div class="varietes">
          <div class="birthday">
            <img src="img/dj_1.jpg" alt="num" class="num_1">

              <h1>Secret Wednessday (24-09-22)</h1>

          </div>

          <div class="birthday">
          <img src="img/dj_2.jpg" alt="num" class="num_1">
          <h1>Level Up (29-07-22)</h1>
          </div>

          <div class="birthday">
            <img src="img/dj_4.jpg" alt="num" class="num_1">
            <h1>Meet Ya Celeb (8-01-2022)</h1>

          </div>
          <div class="birthday">
            <img src="img/dj_5.jpg" alt="num" class="num_1">
            <h1>Birthday Bash (25-05-2022)</h1>

          </div>
          <div class="birthday">
            <img src="img/dj_6.jpg" alt="num" class="num_1">
            <h1>Mask House Party</h1>

          </div>

          <div class="birthday">
            <img src="img/dj_8.jpg" alt="num" class="num_1">
            <h1>Tales of Greatness</h1>

          </div>
          <div class="birthday">
            <img src="img/dj_9.jpg" alt="num" class="num_1">
            <h1>Cultural Night Life (14-07-2022)</h1>
          </div>

          <div class="birthday">
            <img src="img/dj_10.jpg" alt="num" class="num_1">
            <h1>Ileya Festival (11-07-2022)</h1>

          </div>
          <div class="birthday">
            <img src="img/dj_11.jpg" alt="num" class="num_1">
            <h1>The Neon Glow Party</h1>
          </div>
          <div class="birthday">
            <img src="img/dj_12.jpg" alt="num" class="num_1">
            <h1>Pandon Lion Lounge</h1>
          </div>
          <div class="birthday">
            <img src="img/dj_3.jpg" alt="num" class="num_1">
            <h1>Notorious BID ft Dj Romeo</h1>
          </div>
          <div class="birthday">
            <img src="img/dj_7.jpg" alt="num" class="num_1">
            <h1>Oxygenation Club</h1>
          </div>

        </div>
      </div>
      
        <form method="post" action="/weather">
          <label for="city">Enter a City to check Weather:</label>
            <input list="cities" name="cities">
            <datalist id="cities">
              <option value="Lagos">
              <option value="Abuja">
              <option value="Ibadan">
              <option value="Awka">
              <option value="Kano">
                <option value="Port Harcourt">
                  <option value="Nneyi-Umuleri">
                  <option value="Onitsha">
                  <option value="Maiduguri">
                  <option value="Aba">
                    <option value="Benin City">
                      <option value="Shagamu">
                      <option value="Ikare">
                      <option value="Ogbomoso">
                      <option value="Mushin">
                        <option value="Owerri">
                          <option value="Ikeja">
                          <option value="Agege">
                          <option value="Somolu">
                          <option value="Sokoto">
                            <option value="Nnewi">
                              <option value="Ilesa">
                              <option value="Minna">
                              <option value="Apapa">
                              <option value="Bida">
                                <option value="Ilobu">
                                  <option value="Ajegunle">
                                  <option value="Oshodi">
                                  <option value="Ifako">
                                  <option value="Surulere">
                                    <option value="Ebute-Metta">
                                      <option value="Ojota">
                                      <option value="Ikotun">
                                      <option value="Makera">
                                      <option value="Umundugba">
                                        <option value="Ojo">
                                          <option value="Okrika">
                                          <option value="Uselu">
                                          <option value="Kpor">
                                          <option value="Neni">
                                            <option value="Ozubulu">
                                              <option value="Festac Town">
                                              <option value="Buguma">
                                              <option value="Hadejia">
                                              <option value="Amaigbo">
                                                <option value="Ungogo">
                                                  <option value="Ikoyi">
                                                  <option value="Effurun">
                                                  <option value="Dikenafai">
                                                  <option value="Kumbotso">
                                                    <option value="Nnenasa">
                                                      <option value="Ojoto">
                                                      <option value="Rumuodomaya">
                                                      <option value="Itu">
                                                      <option value="Afor-Oru">
                                                        <option value="Isinweke">
                                                          <option value="Ogu">
                                                          <option value="Nchia">
                                                          <option value="Egbeda">
                                                          <option value="Ukpo">
                                                            <option value="Abagana">
                                                              <option value="Suleja">                                      
            </datalist>
            <button>submit</button>
        </form>

  
<div>
  <% if (locals.error) {%>
<p><%= error %></p>

 <% } else if (locals.weather) { %>

 <p> <%= weather.main.temp %>&deg;F</p>
 <p><%= weather.weather[0].main %></p>
 <%=weather.name %> <%= weather.sys.country %>

 <%}%>
 </div>


      <div class="social">
        <h1>Social Connect...</h1>
        <h4> follow me on my social media accounts:</h4>
        
        <div class="media">
        <div class="icon"><a href="#"><img src="img/instagram.webp" alt="insta" /></a></div>
        <div class="icon"><a href="#"><img src="img/facebook.webp" alt="facebook" /></a></div>
        <div class="icon"><a href="#"><img src="img/youtube.webp" alt="yout" /></a></div>

      </div>
       </div>


</div>
<%- include("footer.ejs") %>
<script src="/scripts/main.js" charset="utf-8"></script>
</body>
</html>
